[
    {
        "name": "ESP8266",
        "id": "test",
        "maxstore": 60,
        "timestamp": 1,
        "struct": [
            {
                "key": "Temp",
                "type": "int"
            },
            {
                "key": "Humi",
                "type": "int"
            }
        ]
    }
]